body {
	background: #141414;
	color: #ffffff;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

/* MovieList.css */
.movie-list-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	/* justify-content: space-between; */
  }
  
  .movie-card {
	flex: 0 0 calc(25% - 1em); /* 4 cards on each row for large screens */
	margin-bottom: 1em;
  }
  
  @media screen and (max-width: 768px) {
	.movie-card {
	  flex: 0 0 calc(50% - 1em); /* 2 cards on each row for medium screens */
	}
  }
  
  @media screen and (max-width: 480px) {
	.movie-card {
	  flex: 0 0 calc(100% - 1em); /* 1 card on each row for small screens */
	}
  }
  